

        <div class="selection">
            <div class="selection-content">
                <h1>Renting cars have<br>never been this easy</h1>
                <p>Lorem ipsum dolor sit amet consectetur<br>adipisicing elit. Molestiae accusamus<br>sunt corrupti placeat incidunt.</p>
            </div>
        </div>

        <div class="Form">
            <form action="form">
                <div class="Location">
                    <h1>PICK UP LOCATION</h1>
                    <select name="Select location" id="select">
                        <option value="Select location">Select location</option>
                    </select>
                </div>
                <div class="Location">
                    <h1>PICK UP DATE</h1>
                    <select name="Select Date" id="select">
                        <option value="Select Date">Select Date</option>
                    </select>
                </div>
                <div class="Location">
                    <h1>RETURN DATE</h1>
                    <select name="Select Date" id="select">
                        <option value="Select Date">Select Date</option>
                    </select>
                </div>
                <button id="Search">Search for Cars</button>
            </form>
        </div>

        <div class="Advert">
            <div class="selectional-content">
            </div>
        </div>
        <div class="House-Featured">
            <div class="Featured">
                <h1>Our Featured Cars</h1>
            </div>
            <div class="Featured-cars">
                <div class="card1">
                    <div class="card-image1"></div>
                    <h2>Toyota Corolla T-20</h2>
                    <p>Air Conditioned</p>
                    <p>Bluetooth Sound System</p>
                    <p>Sunroof Available</p>
                    <a href="#">Rent Now</a>
                </div>
                <div class="card1">
                    <div class="card-image2"></div>
                    <h2>Toyota Corolla T-20</h2>
                    <p>Air Conditioned</p>
                    <p>Bluetooth Sound System</p>
                    <p>Sunroof Available</p>
                    <a href="#">Rent Now</a>
                </div>
                <div class="card1">
                    <div class="card-image3"></div>
                    <h2>Toyota Corolla T-20</h2>
                    <p>Air Conditioned</p>
                    <p>Bluetooth Sound System</p>
                    <p>Sunroof Available</p>
                    <a href="#">Rent Now</a>
                </div>
            </div>
        </div>
 

        
        <div class="House-Why">
            <div class="Why-Main">
                <h1>Why We Are Different</h1>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.<br>Velit officia consequat duis enim velit mollit.</p>
            </div>
            <div class="Why">
                <div class="card2">
                    <div class="card-image4"></div>
                    <h2>Easy Booking</h2>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>         
                </div>
                <div class="card2">
                    <div class="card-image5"></div>
                    <h2>Secure Payments</h2>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
                </div>
                <div class="card2">
                    <div class="card-image6"></div>
                    <h2>24/7 Tracking</h2>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
                </div>
            </div>
        </div>

        <div class="House-What-People-Say">
            <div class="What-Main">
                <h1>What do people say about us?</h1>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.<br>Velit officia consequat duis enim velit mollit.</p>
            </div>
            <div class="What-cards">
                <div class="card3">
                    <div class="Grid-image"></div>         
                    </div>
                    <div class="card4">
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
                        <hr>
                        <h1>Anna De’Suza,<br>CEO at SpaceX</h1>   
                    </div>
            </div>
            </div>
        </div>


        <div class="House-Stories">
            <div class="Stories">
                <h1>Read Our Stories</h1>
            </div>
            <div class="Story-cards">
                <div class="Story-card">
                    <div class="story-image1"></div>
                    <button id="Search">Tags</button>
                    <h2>Start a blog to reach<br>your creative peak</h2>
                    <p>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint. Velit<br>officia consequat duis enim velit mollit.</p>
                    <a href="#">Find Out More</a>
                </div>
                <div class="Story-card">
                    <div class="story-image2"></div>
                    <button id="Search">Tags</button>
                    <h2>Starting your traveling<br>blog with Vasco</h2>
                    <p>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint. Velit<br>officia consequat duis enim velit mollit.</p>
                    <a href="#">Find Out More</a>
                </div>
                <div class="Story-card">
                    <div class="story-image3"></div>
                    <button id="Search">Tags</button>
                    <h2>Caring is the new<br>marketing</h2>
                    <p>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint. Velit<br>officia consequat duis enim velit mollit.</p>
                    <a href="#">Find Out More</a>
                </div>
            </div>
        </div>

        <div class="Next-Drive">
            <div class="Next-Drive-Main">
                <div class="Drive-Text">
                    <h1>Find Your Next Long<br>Drive Now!</h1>
                    <div class="Drive-Form">
                        <form action="drive-form">
                            <div class="Drive-Location">
                                <h1>PICK UP LOCATION</h1>
                                <select name="Select location" id="select">
                                    <option value="Select location">Select location</option>
                                </select>
                            </div>
                            <div class="Drive-Location">
                                <h1>PICK UP DATE</h1>
                                <select name="Select Date" id="select">
                                    <option value="Select Date">Select Date</option>
                                </select>
                            </div>
                            <div class="Drive-Location">
                                <h1>RETURN DATE</h1>
                                <select name="Select Date" id="select">
                                    <option value="Select Date">Select Date</option>
                                </select>
                            </div>
                            <button id="Search">Search for Cars</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="House-Footer">
            <div class="Footer-Block">
                <div class="Sect1">
                    <div class="Car-Venture">
                        <h1>CarVenture</h1>
                        <p>Rides for the daily<br>achievers</p>
                        <h2>c Copyright Team Inc.</h2>
                    </div>
                </div>
                <div class="Sect1">
                    <div class="Company">
                        <h1>Company</h1>
                        <p>About Us</p>
                        <p>Careers</p>
                        <p>Support</p>
                        <p>Terms and Conditions</p>
                    </div>
                </div>
                <div class="Sect1">
                    <div class="Features">
                        <h1>Features</h1>
                        <p>Vehicle Tracker</p>
                        <p>iOS & Android Apps</p>
                        <p>Business Trips</p>
                        <p>Locations</p>
                    </div>
                </div>
                <div class="Sect1">
                    <div class="Contact-Us">
                        <h1>Contact Us</h1>
                        <p>info@teamapp.com</p>
                        <p>(302) 555-0107</p>
                        <h2>2972 Westheimer Rd. Santa<br>Ana, Illinois 85486</h2>
                    </div>
                </div>
                <div class="Sect1">
                    <div class="Deals-Discount">
                        <h1>Get deals and discounts</h1>
                        <p>Subscribe to our newsletter</p>
                        <div class="Location">
                            <select name="Email" id="mail">
                                <option value="Email">Email</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>